
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: rgb(255, 28, 123);
}
h2{
    color: rgb(255, 28, 123);
}

.paragrafo{
    padding: 30px 12px;
}

a{
    text-decoration: none;
}

.card-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}